# CMake
cmake-build-debug/*
cmake-build-release/*
cmake-build-release-tests/*
build/*
out/*
include/VEngine/Generated/*

# IDE
.idea/*
.vs/*

# Binary files
vengine
vengine-tests
vengine.exe
vengine-tests.exe
vengine.pdb
vengine.ilk
